<div class="row">
  <div class="col-6">
    <div class="container d-flex align-items-center justify-content-center"><h6>Предметы</h6></div>
      <p class="card-text text-break text-wrap"><i>{{ schedule.text|linebreaksbr }}</i><p>
    </div>
  <div class="col-6">
    <div class="container d-flex align-items-center justify-content-center"><h6>Дополнительные заметки</h6></div>
    {% if schedule.notes %}
      <div class="container d-flex align-items-center justify-content-center">
        <p class="card-text text-break text-wrap"><i>{{ schedule.notes|linebreaksbr }}</i><p>
      </div>
    {% else %}
      <div class="container d-flex align-items-center justify-content-center">
        <p class="text-muted"><i>Нет заметок</i></p>
      </div>
    {% endif %}
  </div>
</div>
<div>
  <p class="text-center">
    <a class="btn btn-sm text-muted" href={% url 'schedules:edit' schedule.date %} role="button">
      Редактировать
    </a>
    <a class="btn btn-sm text-muted" href={% url 'schedules:delete' schedule.date %} role="button">
      Удалить
    </a>
  </p>
</div>