{% extends "base.html" %}
{% block title %}
  Расписание по дням
{% endblock %}
{% block content %}
  <article class="mb-3">
    <div class="container d-flex align-items-center justify-content-center"><h2>Расписание по дням</h2></div>
  </article>
  {% for date, schedule in object_list %}
    <article class="mb-5">
      <div class="col d-flex justify-content-center">
        <div class="card" style="width: 40rem; border: 1px solid;">
          <div class="card-body">
            <h4 class="card-title">{{ date|date:"l" }}</h4>
            <h5>{{ date|date:"d E" }}</h5>
            {% if forloop.last %}
              <p class="text-muted text-center">
                <font size="5"><strong>Заслуженный отдых!</strong></font>
              </p>
            {% elif schedule == None %}
              <p class="text-muted text-center">
                <font size="5"><strong>Расписания нет</strong></font>
              </p>
            {% else %}
              {% include "includes/schedule.html" %}
            {% endif %}
          </div>
        </div>
      </div>
    </article>
  {% endfor %}
{% endblock %}