{% extends "base.html" %}
{% block title %}
  Страница пользователя {{ profile }}
{% endblock %}
{% block content %}
  <h1 class="mb-5 text-center ">Страница пользователя {{ profile }}</h1>
  <small>
    <ul class="list-group list-group-horizontal justify-content-center mb-3">
      <li class="list-group-item text-muted">Регистрация: {{ profile.date_joined }}</li>
      <li class="list-group-item text-muted">Роль: {% if profile.is_staff %}Админ{% else %}Пользователь{% endif %}</li>
    </ul>
    <ul class="list-group list-group-horizontal justify-content-center">
      <a class="btn btn-sm text-muted" href="{% url 'password_change' %}">Изменить пароль</a>
    </ul>
  </small>
  <br>
  {% for schedule, date, title in object_list %}
    <h4 class="mb-3 text-center">{{ title }} - {{ date }}</h3>
    <article class="mb-5">
      <div class="col d-flex justify-content-center">
        <div class="card" style="width: 40rem; border: 1px solid;">
          <div class="card-body">
            {% if schedule == None %}
              <p class="text-muted text-center">
                <font size="5"><strong>Расписания нет</strong></font>
              </p>
            {% else %}
              <div class="row">
                <div class="col-6">
                  <div class="container d-flex align-items-center justify-content-center"><h6>Предметы</h6></div>
                  <p class="card-text text-break text-wrap"><i>{{ schedule.text|linebreaksbr }}</i><p>
                </div>
                <div class="col-6">
                  <div class="container d-flex align-items-center justify-content-center"><h6>Дополнительные заметки</h6></div>
                  {% if schedule.addit_text %}
                    <div class="container d-flex align-items-center justify-content-center">
                      <p class="card-text text-break text-wrap"><i>{{ schedule.addit_text|linebreaksbr }}</i><p>
                    </div>
                  {% else %}
                    <div class="container d-flex align-items-center justify-content-center">
                      <p class="text-muted"><i>Нет заметок</i></p>
                    </div>
                  {% endif %}
                </div>
              </div>
              <div>
                <p class="text-center">
                  <a class="btn btn-sm text-muted" href={% url 'schedules:edit' schedule.date %} role="button">
                    Редактировать
                  </a>
                  <a class="btn btn-sm text-muted" href={% url 'schedules:delete' schedule.date %} role="button">
                    Удалить
                  </a>
                </p>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </article>      
  {% endfor %}
{% endblock %}