{% extends "base.html" %}
{% block title %}
  Страница пользователя {{ profile }}
{% endblock %}
{% block content %}
  <h1 class="mb-5 text-center ">Страница пользователя {{ profile }}</h1>
  <small>
    <ul class="list-group list-group-horizontal justify-content-center mb-3">
      <li class="list-group-item text-muted">Регистрация: {{ profile.date_joined }}</li>
      <li class="list-group-item text-muted">Роль: {% if profile.is_staff %}Админ{% else %}Пользователь{% endif %}</li>
    </ul>
    <ul class="list-group list-group-horizontal justify-content-center">
      <a class="btn btn-sm text-muted" href="{% url 'password_change' %}">Изменить пароль</a>
    </ul>
  </small>
  <br>
  {% for schedule, date, title in object_list %}
    <article class="mb-5">
      <div class="col d-flex justify-content-center">
        <div class="card" style="width: 40rem; border: 1px solid;">
          <div class="card-body">
            <h4 class="mb-3 text-center">{{ title }} - {{ date }}</h4>
            {% if schedule == None %}
              <p class="text-muted text-center">
                <font size="5"><strong>Расписания нет</strong></font>
              </p>
            {% else %}
              {% include "includes/schedule.html" %}
            {% endif %}
          </div>
        </div>
      </div>
    </article>      
  {% endfor %}
{% endblock %}